GO_SERVER=172.18.2.11
export GO_SERVER
GO_SERVER_PORT=8153
export GO_SERVER_PORT
AGENT_WORK_DIR=/var/lib/${SERVICE_NAME:-go-agent}
export AGENT_WORK_DIR
DAEMON=Y
VNC=N
export JAVA_HOME="/usr/java/jdk1.7.0_79" # SET_BY_GO_INSTALLER__DONT_REMOVE
