bahmni_repo_url: {{ bahmni_repo_url }}
implementation_name: {{ implementation_name }}
timezone: Asia/Kolkata
two_factor_auth: {{ two_factor_auth }}
implementer_interface: {{ implementer_interface }}

bahmni_group: {{ bahmni_group }}
bahmni_user: {{ bahmni_user }}
bahmni_support_user: {{ bahmni_support_user }}
bahmni_support_group: {{ bahmni_support_group }}
bahmni_password_hash: {{ bahmni_password_hash }}

mysql_root_user: {{ mysql_root_user }}
mysql_old_root_password: {{ mysql_old_root_password }}
mysql_root_password: {{ mysql_root_password }}

openmrs_db_username: {{ openmrs_db_username }}
openmrs_db_password: {{ openmrs_db_password }}

openelis_db_username: {{ openelis_db_username }}
openelis_db_password: {{ openelis_db_password }}

openerp_db_username: {{ openerp_db_username }}
openerp_db_password: {{ openerp_db_password }}
openerp_user: {{ openerp_user }}
openerp_password: {{ openerp_password }}

openmrs_user_id: {{ openmrs_user_id }}
openmrs_user_password : {{ openmrs_user_password }}

openmrs_reporting_user: {{ openmrs_reporting_user }}
openmrs_reporting_password: {{ openmrs_reporting_password }}
pacs_integration_db_username: {{ pacs_integration_db_username }}
postgres_repo_rpm_name: {{ postgres_repo_rpm_name }}
postgres_repo_download_url: {{ postgres_repo_download_url }}
postgres_repo_rpm_location: "/opt/{{ postgres_repo_rpm_name }}"
openerp_url: {{ openerp_url }}

reports_save_dir: {{ reports_save_dir }}
